@import "../styles/icon.scss";

// 主色调
$primary-color: #3578f6;
$primary-background-color: #e5eefb;
$primary-nav-background-color: #f9fbfc;
$primary-gray-text-color: #79869f;
$primary-border-color: #e0e1f2;
$primary-message-background-color: #f2f3f5;
