/* pages/message/message.wxss */
@import "../../common/common.scss";

.bigBox {
  display: flex;
  flex-direction: column;

  .message {
    display: flex;
    padding: 20rpx 0rpx;
    border-bottom: 1px solid $primary-border-color;
    margin-bottom: 20rpx;

    >image {
      width: 100rpx;
      height: 100rpx;
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 20rpx;

      .form {
        font-weight: bold;
        margin-bottom: 10rpx;
      }

      .text {
        color: $primary-gray-text-color;
        font-size: 32rpx;
      }
    }

    .date {
      font-size: 30rpx;
      color: $primary-gray-text-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .timeText{
        font-size: small;
      }

      .joinText{
        color:$primary-color !important;
      }
    }
  }
}

.fixed{
  position: fixed;
  bottom:0;
  height: 120rpx;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 0 20rpx;
}