@font-face {
  font-family: "iconfont"; /* Project id 4819541 */
  src: url('//at.alicdn.com/t/c/font_4819541_9bpehgxyai.woff2?t=1740491833667') format('woff2'),
       url('//at.alicdn.com/t/c/font_4819541_9bpehgxyai.woff?t=1740491833667') format('woff'),
       url('//at.alicdn.com/t/c/font_4819541_9bpehgxyai.ttf?t=1740491833667') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meeting:before {
  content: "\e86e";
}

.icon-user:before {
  content: "\e610";
}

.icon-error:before {
  content: "\e656";
}

.icon-star:before {
  content: "\e7df";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-password:before {
  content: "\ea32";
}

.icon-custom-user:before {
  content: "\e632";
}

.icon-password1:before {
  content: "\e82b";
}

.icon-tel:before {
  content: "\e676";
}

.icon-edit:before {
  content: "\e732";
}

.icon-share1:before {
  content: "\e6f3";
}

.icon-add1:before {
  content: "\e621";
}

.icon-recommend:before {
  content: "\e728";
}

.icon-refresh:before {
  content: "\e6a2";
}

.icon-schedule:before {
  content: "\e82e";
}

.icon-book:before {
  content: "\e63c";
}

.icon-107meeting:before {
  content: "\e7a7";
}

.icon-time:before {
  content: "\e680";
}

.icon-caidan:before {
  content: "\e601";
}

.icon-home:before {
  content: "\e64d";
}

.icon-more:before {
  content: "\e6ad";
}

.icon-information:before {
  content: "\e62d";
}

.icon-forum:before {
  content: "\e687";
}

.icon-message:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-video-fill:before {
  content: "\e865";
}

.icon-screen:before {
  content: "\e72e";
}

.icon-list:before {
  content: "\e61d";
}

.icon-audio-fill:before {
  content: "\e897";
}

.icon-audiostatic:before {
  content: "\e8e8";
}

.icon-share:before {
  content: "\e729";
}

.icon-add:before {
  content: "\e6f1";
}

.icon-users:before {
  content: "\e92e";
}

.icon-video:before {
  content: "\e65e";
}

.icon-comments:before {
  content: "\e614";
}

.icon-record_on:before {
  content: "\e642";
}

.icon-aifuzhushenpian:before {
  content: "\e60a";
}

.icon-Ai:before {
  content: "\e605";
}

.icon-adduser:before {
  content: "\e7b6";
}
